.DS_Store
Source/.DS_Store
Projects/.DS_Store

.idea

Source/Projects/membership/appsettings\.Development\.json

Source/Projects/website/app/static/appConfig\.json

Source/Projects/website/package-lock\.json

Source/Projects/auth-server/app/config/config\.js

Source/Projects/redis/data/appendonly\.aof
