@import 'Variables';

.app-status {
  position: fixed;
  bottom: 0;
  left: 0;
  padding:0;
  width: 100%;
  height: $app-statusbar-height;
  border-color: $border-color;
  border-width: 0.1rem;
  border-style: solid;
  .app-powered {
    float:right;
    display:inline-block;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
    img {
      max-width: 8rem;
      vertical-align:sub;
      margin-left: 0.5rem;
    }
    .app-powered-by {
      font-size: 1.2rem;
      font-style: italic;
      vertical-align: super;
    }
  }

}
