/* Page Colors Primary */
$white: #fff;
$icetana-blue: #2377ba;
$header-dark-blue: #14609d;
$header-light: #51c3c8;
$page-background: #ffffff;
$border-color: #000000;
$menu-background: #ffffff;
$app-shadow: #000000;

/* Secondary Colors */
$nav-tab-background: #fff;
$nav-tab-text: #2377ba;
$nav-tab-background-hover: #2377ba;
$nav-tab-text-hover: #fff;

/* Element Sizes */
$app-header-height: 4rem;
$app-statusbar-height: 3rem;

/* Sidebar */
$app-sidebar-width: 6rem;
