@import 'Variables';

%base-input {
  width: 100%;
  height: 4rem;
  background-color: $light2;
  border: solid 1px $light3;
  font-size: 2rem;
  font-weight: 400;
}

%base-error {
  background-color: $light;
  border-color: $red !important;
}

%base-focus {
  box-shadow: 0 3px 10px 0 rgba(81, 195, 200, 0.25);
  background-color: $light;
}

.connect-form {
  &.form-horizontal {
    input {
      width: 3rem;
      margin-right: 2rem;
      padding-left: 1rem;

      &:first-child {
        margin-left: 2rem;
      }
    }
  }
  label {
    font-weight: 400;
    margin-top: 1rem;
  }

  select {
    @extend %base-input;
    z-index: 10;

    &:focus {
      @extend %base-focus;
    }

    &.has-error {
      @extend %base-error;
    }
  }

  .connect-select {
    position: relative;

    &::after {
      content: "<>";
      color: $white;
      font-size: 2.5rem;
      font-weight: 700;
      height: 4rem;
      width: 3.5rem;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      background-color: $header-blue;
      background-size: 3.5rem 4rem;
      pointer-events: none;
      transform: rotate(90deg);
      padding-left: 0.4rem;
    }
  }

  input {
    @extend %base-input;

    &:focus {
      @extend %base-focus;
    }

    &.has-error {
      @extend %base-error;
    }

  }

  input[type="radio"] {
    @extend %base-input;

    &:focus {
      @extend %base-focus;
    }

    &.has-error {

      + label {
        color: $red;
      }
    }
  }

  input[type="checkbox"] {
    @extend %base-input;

    &:focus {
      @extend %base-focus;
    }

    &.has-error {

      + label {
        color: $red;
      }
    }
  }

  .radio-group {
    .radio-container {

      label {
        float: left;
        margin-right: 2rem;
      }

      input {
        float: left;
        width: 2rem;
        margin-right: 1rem;

        &:focus {
          box-shadow: none;
        }

      }

    }
  }

  .checkbox-container {
    label {
      float: left;
      margin-right: 2rem;
    }
    input {
      float: left;
      width: 2rem;
      margin-right: 1rem;

      &:focus {
        box-shadow: none;
      }
    }
  }

}
