@import 'Variables';

$header-gradient: linear-gradient(to left, $icetana-blue, $header-dark-blue 29%, $header-light);

header {
  height: 9rem;
  background-image: $header-gradient;
  .header-brand {
    float:left;
    margin-top: 2rem;
    margin-right: 4rem;
    img {
      width: 100%;
      max-width: 18rem;
      max-height: 9rem;
      height: auto;
    }
  }
  .header-text {
    color: $white;
    margin-top: 0.5rem;
  }
}

.header-right {
  float:right;
  margin-top: 2rem;
  height:3rem;
  .header-drop {
      float: left;
      position:relative;
      top: -0.7rem;
      margin-right: 1.5rem;
      &::before {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAZCAYAAADAHFVeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4gMDCycbnrhRfwAAA2VJREFUSMftln9M1HUYx18fuOPu8M477lCBY6QHQgrptMNFIymlSVtbOPMP3PwD1rK10lat1Zxra67matParFls/XBtzrRZzukaKGAsQ9ETIROBvOsG3OFxeHd6d3y5+/SHSCMv++Ia64+eP589z/P6/Hh/nucj8l76ltmyNGbRZhWmURP06OJsWbMsD6fDRtECIzElQb8vwo+9Ixw976V3OCzU1BH3urPiHJPcs9nJ8gLLPYsccw2y/aCrcyQcd94XrNRult9sewyzQQtA269+Oq+N0uUZw6jXUGo3U1kyj7L82wsJROJs2ttOt/eGmBHMnmWQJ95Yg9WYwfVwnK37z9F62Z+ySP1qh9yx/iF0mjQ8gVusebdJRMcT6gXycf0qrMYMBoNRqt9r7my97Bd1FQtlxzs10vvRetn81lr5YnWxBPi8bUBs2NNGfCJJgS2TV59aIlWrsbJ4nnQusiIlPNd4hpFw3Pn9a1Xyg00rsGcZEAL8oRiNLX1TO73gDopdR3sAaKgqJNukO6gK9vQKOwDHuwa56BkTAD/3BQDo90VY+MoRUbe3XYxPJKflfXl6QISiCnptGs88nL9RFeyRomwAmnuGp3yHOjwc6vDgDtxESaQ+pZiS5GSPD4CVD1jVvbMciwEAb+DWlO/KUEhs299J0QKTBNj57HIZjil80nxVhKLKVFzvcAgAm0mnDnbnIoS4W3x9vrBYajfL+ioHAOWFNrnzSDcud1AAyJm2q8GxKAAluaaUCTrNnykVRdkce/1xyvLNcrIJADA0WeMfYad+8U0Tyl/N5QmKbu+NaT5tehpzdBqeWJoDwJm+6+pgX7f/RlJCucNGucN218lICet2nRQDIxEAGlv6ueAOsqO2TFoytSgJyQ+Xhp5UBev3R8SBn64BsK9hFfPn6kdTJTZ1D1O7u5W3D3fxwtrFbK5cBMBnp64SvDnepLpdzdFpaNleLfOyDAQicV7+KnW7shoznn+/buW+mmW5AFz6fYza3a0ipiRn1ohLcufKL7ZUUGDLBOD0FT8udxAlIcm16Cm1W1hiN6NNF5OyD7Phw7Yto5HxT+9rxJj0GrauK5ENVYXotel/G/fdeS9vHnBNe3Mzht2xzIx0Vj84X94eniaMeg0TCcnZgcC/Nzz///D8J2F/AD/tT47sskeKAAAAAElFTkSuQmCC');
        display: inline-block;
        background-size: 3rem 3rem;
        width: 3rem;
        height: 3rem;
        content:"";
        position:relative;
        left:1rem;
        top: 1rem;
      }
      select {
        color: $white;
        font-size: 1.2rem;
        background-color: transparent;
        border: 0;
        height:auto !important;
        padding-left: 0.6rem;
        padding-right: 0.2rem;
        option {
          background-color: $header-light;
        }
      }
    }
    .header-drop-no-image {
      float: left;
    }
}

@media (max-width: 785px) {
  header {
    .header-brand {
      margin-right: 2rem;
    }
  }
}
