@import 'Variables';

hr {
  margin-top: 0;
  margin-bottom: 0;
}

.push-down-one {
  margin-top: 1rem;
}

.push-down-two {
  margin-top: 2rem;
}

.push-down-three {
  margin-top: 3rem;
}

.push-down-four {
  margin-top: 4rem;
}

.no-bottom-margin {
  margin-bottom: 0;
}
