/* Page Colors Primary */
$white: #fff;
$header-blue: #2377ba;
$header-dark-blue: #14609d;
$header-light: #51c3c8;
$header-dark: #0e4d80;
$light: #f7fafc;
$light2: #e8f4fd;
$light3: #dceaf5;
$dark: #3d5f7b;
$page-background: #e3e3e3;

/* Secondary Colors */
$green: #5ab400;
$red: #fd174c;
$orange: #ff8924;
$purple: #a848fa;
$grey: #778899;
