/* Page Colors Primary */
$white: #fff;
$icetana-blue: #2377ba;
$header-dark-blue: #14609d;
$header-light: #51c3c8;
$page-background: #ffffff;
$border-color: #000000;
$menu-background: #ffffff;
$app-shadow: #000000;

/* Secondary Colors */


/* Element Sizes */
$app-header-height: 4rem;
$app-statusbar-height: 3rem;
