@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');
@import 'skeleton/skeleton';
@import 'Variables';
@import 'Layout';
@import 'Header';
@import 'Buttons';
@import 'Footer';

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: $page-background;
  position: relative;
  & .fontLoaded {
    font-family: 'Lato', sans-serif;
  }
}

#app {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;

  > [data-reactroot] {
    height: 70%;
    width:100%;
  }
}

main {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.connect-layout {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.connect-main-layout {
  @extend .connect-layout;
  padding-top: 5rem;
}

img {
    width: 100%;
    height: auto;
}

a {
  text-decoration: none;
  color: $icetana-blue;
}

.connect-hidden {
  display : none;
}

.connect-hiddenMobileOnly {
  display : block;
}

@media (max-width: 768px) {
  .connect-hiddenMobileOnly {
    display : none !important;
  }
}

@media (min-width: 550px) {
  .container {
    width: 85%;
  }
}
